{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "*": "./src",
          "sanity": "./sanity.js"
        }
      }
    ],
    "babel-plugin-styled-components"
  ]
}
