.container {
  @apply flex
    flex-col
    flex-1
    p-8
    border-lightGrey
    border-solid
    border-t-2;

  & p {
    @apply text-3xl
      leading-normal
      font-light
      my-4;
  }

  & ul {
    @apply text-3xl
      leading-normal
      font-normal
      my-4;
  }

  & li {
    list-style-type: circle;
  }

  & code {
    @apply text-2xl;
  }

  & img {
    @apply mx-auto block;
  }

  & blockquote {
    @apply bg-gray-100 ml-4 pl-6 py-4 my-8;

    border-left: 10px solid #ccc;
  }

  & blockquote p {
    display: inline;
    font-style: italic;
  }
}

.subtitle {
  @apply text-4xl font-semibold;
}

@screen md {
  .container {
    @apply px-0;
  }
}
